<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Profile</title>
</head>
<body>
    <%- include("nav") %>

    <div class="container">
        <div id="box"></div>
        
    </div>

    <script>

        fetch("/Product/Products")
            .then((res) => res.json())
            .then((data) => display(data));

            const pro_delete = (id) => {
                window.location.reload();
                fetch(`/Product/Delete/${id}`, {
                    method: "delete",
                })
                    .then((res) => res.json())
                    .then((data) => {
                        const deletedElement = document.getElementById(id);
                        if (deletedElement) {
                            deletedElement.remove();
                        }
                    })
                    .catch((error) => console.error(error));
            };
    
        const display = (data) => {
            document.getElementById("box").innerHTML = " ";
            data.map((ele) => {
                let img = document.createElement("img");
                img.src = ele.image;
                let title = document.createElement("p");
                title.innerHTML = ele.title;
                let price = document.createElement("p");
                price.innerHTML =`MRP:Rs. ${ele.price}`;
                let desc = document.createElement("p");
                desc.innerHTML =ele.desc;
                let category = document.createElement("p");
                category.innerHTML =ele.category;
                let deletes = document.createElement("button");
                deletes.innerHTML="DELETE"
                deletes.addEventListener("click", () => pro_delete(ele._id));

                let deletes1 = document.createElement("button");
                deletes1.innerHTML="UPDATE"
                deletes1.addEventListener("click", () => {
                window.location.href = `/Product/Update/${ele._id}`;
            })
    
                let div = document.createElement("div");
                div.append(img, title, price , desc , category , deletes , deletes1 );
                document.getElementById("box").append(div);
            });
        };
    </script>
</body>
</html>