<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content align-items">
                
                <nav>
                    <ul class="row">
                        <li><a href="/Product/Home">Home</a></li>
                        <li><a href="/Product/Profile">Profile</a></li>
                        <li><a href="/Product/Post" id="post">POST</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <a href="#">NENCY</a>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="/User/Signup" id="signup">SIGNUP</a></li>
                        <li><a href="/User/Login" id="login">LOGIN</a></li>
                        <li><a id="logout" href="">Logout</a></li> 
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
<script>
    document.getElementById("logout").style.display="none";
   
   let cookie = document.cookie;
   if(cookie){
    document.getElementById("signup").style.display="none";
        document.getElementById("login").style.display="none";
        document.getElementById("logout").style.display="block";
   }
   let deletCookie = (name)=>{
       document.cookie = name + '=; Path=/; Expires=Thu, 24 jul 2002 00:00:01 GMT;';
   }

   let definerole =  document.cookie.split(";")[1]
    let role = document.cookie.split(";")[1].split("=")[1];

    if(role == 'admin'){
        document.getElementById("post").style.display="block";
    }else{
        document.getElementById("post").style.display="none";

    }
    document.getElementById("logout").addEventListener("click",()=>deletCookie(definerole));
   document.getElementById("logout").addEventListener("click",()=>deletCookie(cookie));
  
</script>
</html>