<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pages</title>
</head>
<body>
    <%- include("nav") %>
    <div class="container">
        <div id="box"></div>
    </div>
</body>

<script>

    fetch("/Product/All")
        .then((res) => res.json())
        .then((data) => display(data));

    const display = (data) => {
        document.getElementById("box").innerHTML = " ";
        data.map((ele) => {
            let img = document.createElement("img");
            img.src = ele.image;
            let title = document.createElement("p");
            title.innerHTML = ele.title;
            let desc = document.createElement("p");
            desc.innerHTML =ele.desc;
            let price = document.createElement("p");
            price.innerHTML =`MRP:Rs. ${ele.price}`;
            let category = document.createElement("p");
            category.innerHTML =ele.category;

            let div = document.createElement("div");
            div.append(img, title, price , desc , category);
            document.getElementById("box").append(div);
        });
    };
</script>
</html>