<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>

<body>
    <%- include("nav") %>
   <div class="container">
    <div class="content">
        <form action="/Product/Post" method="post">
            <h2>List Post</h2>
            <div class="field">
                <input type="text" name="title" placeholder="Title" />
            </div>
            <div class="field">
                <input type="text" name="desc" placeholder="description" />
            </div>
            <div class="field mt">
                <input type="number" name="price" placeholder="price" />
            </div>
            <div class="field">
                <input type="url" name="image" placeholder="image" />
            </div>
            <div class="field">
                <input type="text" name="category" placeholder="category" />
            </div>
            <input type="submit" value="Post" >
        </form>
    </div>
   </div>
</body>

</html>